/* 改变主题色变量 */
$--color-primary: #5F549E;
$--color-success: #5F549E;
$--color-warning: #FFD62A;
$--color-danger: #D88161;
$--color-info: #2FAD68;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";