html {
    --COLOR-bg1: #0a0911;
    --COLOR-bg2: #1a1825;
    --COLOR-bg3: #282634;
    --COLOR-bg4: #2e2c3d;

    --COLOR-t1: #ffffff;
    --COLOR-t2: #8e8e9a;
    --COLOR-t3: #7a7981;
    --COLOR-t4: #494653;
    --COLOR-t5: #3c3a42;

    --COLOR-c1: #2fad68;
    --COLOR-c2: #253731;
    --COLOR-c3: #d88161;
    --COLOR-c4: #342624;
    --COLOR-c5: #5f549e;
}

h1 {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
}

h2 {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1px;
}

h3 {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
}

h4 {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
}

h5 {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

h6 {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.fs16 {
    font-size: 16px;
    line-height: 24px;
}

.fs16b {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}

.fs14 {
    font-size: 14px;
    line-height: 22px;
}

.fs14b {
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
}

.fs13 {
    font-size: 13px;
    line-height: 20px;
}

.fs12 {
    font-size: 12px;
    line-height: 16px;
}

.btn14 {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
}

.btn13 {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
}
