.order {
    padding: 0 24px;

    .title-con {
        display: flex;
    }
    .title {
        margin: 16px 30px 12px 0;
        color: var(--COLOR-t2);
        cursor: pointer;
        &.active {
            font-size: 16px;
            font-weight: bold;
            color: var(--COLOR-t1);
        }
    }

    .all {
        margin-left: 8px;
        color: var(--COLOR-c5);
        cursor: pointer;
    }

    .btn-close {
        margin-left: auto;
        background: var(--COLOR-c5);
        border-color: transparent;
        width: 110px;

        &:hover {
            // background: var(--COLOR-c5);
            opacity: 0.8;
        }

        &:active {
            // background: var(--COLOR-c5);
            opacity: 0.8;
        }
    }

    .a-table {
        .close-price-label {
            padding-left: 14px;
            text-align: left;
            width: 150px;
            box-sizing: border-box;
        }
        .close-input-con {
            border: 1px solid #282634;
            padding: 3px 3px 3px 15px;
            border-radius: 50px;
            .close-price {
                width: 120px;
            }
        }
        &.el-table {
            background-color: transparent;

            ::v-deep tr {
                background-color: transparent;
            }

            ::v-deep th {
                background-color: transparent;
            }

            ::v-deep .cell {
                color: #fff;
                font-size: 14px;
                line-height: 22px;
                font-weight: bold;
            }

            ::v-deep th > .cell {
                font-size: 12px;
                line-height: 16px;
                font-weight: normal !important;
                color: var(--COLOR-t2);
            }

            ::v-deep th.is-leaf,
            ::v-deep td {
                border: none;
            }

            &::before {
                height: 0;
            }

            ::v-deep tr:hover > td {
                background: transparent;
            }

            ::v-deep td {
                padding: 6px 0;
            }
        }
    }
    .a-pagination {
        ::v-deep .btn-prev,
        ::v-deep .el-pager,
        ::v-deep .btn-next,
        ::v-deep li {
            background: transparent;
        }
        ::v-deep .btn-prev:disabled,
        ::v-deep .btn-next:disabled {
            color: #303133;
        }
        ::v-deep .btn-prev,
        ::v-deep .number.active,
        ::v-deep .btn-next {
            color: #fff;
        }
    }
}
